 p, div{margin: 0; padding: 0;}
 
body {
  background: white;
}

#controls{
	position: relative;
	vertical-align: top;
	width: 30em;
	height: 45em;
	border:2px dotted red ;
	display: inline-block;
}
.sidebox{
	position: relative;
	display: inline-block;
}
.card{
	background:white;
	display: inline-block;
	font-size: 4em;
	width: 2em;
	height: 2.5em;
	border: 1px solid black;
	margin: 10px;
	border-radius: 5px;
	position: absolute;
	text-align: center;
	padding: 0px;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  	


  	z-index: 800;
    
    -webkit-transform: rotatey(-180deg);
    -webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
    opacity: 0;
}

.card p {
  text-align: center;
  font-size: .5em;
  font-family:  Georgia,serif;

  
}

.diamond_suit:before, .diamond_suit:after {
  font-size: .8em;
  content: "♦";
  color: blue;
}
 
.heart_suit:before, .heart_suit:after {
  font-size: .8em;
  content: "♥";
  color: blue;
}
 
.club_suit:before, .club_suit:after {
  font-size: .8em;
  content: "♣";
  color: blue;
}
 
.spade_suit:before, .spade_suit:after {
  font-size: .8em;
  content: "♠";
  color: blue;
}

div[class*='suit']:before {
  position: absolute;
  left: 5px;
  top: px;
}
 
div[class*='suit']:after {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.cover{
	position: absolute;
	background:blue;
	display: inline-block;
	font-size: 4em;
	width: 2em;
	height: 2.5em;
	border: 1px solid black;
	margin: 10px;
	border-radius: 5px;
	position: absolute;
	text-align: center;
	padding: 0px;

	-webkit-transform-style: preserve- 3 d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all ease-in-out 0.4s;
    z-index: 900;


}


.card:hover{
	border: 1px solid red;
}

.sidebox{
	width: 600px;
	height: 800px;
}

.cover:hover{
	z-index: 50;
};

.black_card{
	color: black;
}
.red_card{
	color: red;
}

.cover{
	/*display: none;*/
}

.flipped{
	z-index: 1000;
    -webkit-transform: rotatey(0deg);
    opacity: 1;
}

.flippedcover{
	z-index: 900;
    -webkit-transform: rotatey(180deg);
    opacity: 0;
}

.permflipped{
	z-index: 1000;
    -webkit-transform: rotatey(0deg);
    opacity: 1;
}

.permflippedcover{
	z-index: 900;
    -webkit-transform: rotatey(180deg);
    opacity: 0;
}

.playerinfo{
	display: inline-block;
	width: 7.5em;
}


.playingplayer{
	background-color: #77FFAA;

}